@model List<Common.FaultLog>

@{
    ViewBag.Title = "Update Fault";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Update Fault</h2>
<p style="color:Red">@TempData["Error"]</p>

@using(Html.BeginForm("Search", "UpdateFaultStatus", FormMethod.Get))
{
    @Html.Label("Enter username:" )
    @Html.TextBox("username") <br />
    @Html.Label("Enter Fault ID:")
    @Html.TextBox("faultID") <br />
    @Html.Label("Date From :")
    @Html.TextBox("dateFrom")
    @Html.Label("Date To :")
    @Html.TextBox("dateTo")

    <input type="submit" value = "Search" />
}
<br />
@using (Html.BeginForm("Sort", "UpdateFaultStatus", FormMethod.Get))
{
    <input type="submit" value = "Sort" />
}
<br />

<table>
    <tr>
        <th>
            Status
        </th>
        <th>
            Description
        </th>
        <th>
            DateOfReport
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @{var date = Convert.ToDateTime(item.DateOfReport).ToShortDateString();} 
            @Html.DisplayFor(modelItem => date)
        </td>
        <td>
            @Html.ActionLink("Update", "Update", new { faultID =item.FaultID })
        </td>
    </tr>
}
</table>


