@model Common.ProductOrder

<table>

        <tr>
            <td>
                <img src="@Model.Product.Image" alt = "Product Image" width = "300px" height = "250px" />
            </td>
        </tr>
        <tr>
            <td>
                <strong>@Html.LabelFor(model => model.Product.Name)</strong>
            </td>
            <td>
                @Html.DisplayFor(model => model.Product.Name)
            </td>
        </tr>
        <tr>
            <td>
                <strong>@Html.LabelFor(model => model.Product.Features)</strong>
            </td>
            <td>
                @Html.DisplayFor(model => model.Product.Features)
            </td>
        </tr>
        <tr>
            <td>
                <strong>Amount Purchased</strong>
            </td>
            <td>
                @Html.DisplayFor(model => model.Quantity)
            </td>
        </tr>
        <tr>
            <td>
                <strong>Date Purchased</strong>
            </td>
            <td>
                @Html.DisplayFor(model => model.Order.DateOfOrder)
            </td>
        </tr>
        <tr>
            <td>
                <strong>Warranty Expiry</strong>
            </td>
            <td>
                @Html.DisplayFor(model => model.WarrantyExpiry)
            </td>
        </tr>
        <tr>
            <td>
                <strong>Fault Status</strong>
            </td>
            <td>

            </td>
        </tr>
</table>
