@model List<Common.ProductOrder>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            Image
        </th>
        <th>
            Quantity
        </th>
        <th>
            Date Of Purchase
        </th>
        <th>
            Warranty Expiry
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <img src="@item.Product.Image" alt = "Product Image" width = "150px" height = "100px" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Order.DateOfOrder)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WarrantyExpiry)
        </td>
        <td>
            @Html.ActionLink("Report Fault", "ReportFault", new {pID = item.ProductID})
        </td>
    </tr>
}

</table>
